USE [computer_std]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_dim_priority]    Script Date: 2026/05/13 23:13:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_create_dim_priority]

AS
BEGIN
 drop table [computer_std].[dbo].[dim_priority]

  create table [computer_std].[dbo].[dim_priority](
  [Priority_ID] INT IDENTITY(1,1) PRIMARY KEY,
 [Priority] [nvarchar](250 ) not null,
 [Load_date] DATETIME DEFAULT GETDATE()
 )

  --insert data into table
  insert into [computer_std].[dbo].[dim_priority](Priority)
  select distinct Priority
  from [computer_std].[dbo].[pc_dataset_clean]

  --select all data from dim_channel

  select* from [computer_std].[dbo].[dim_priority]
 END;