USE [computer_std]
GO
/****** Object:  StoredProcedure [dbo].[sp_create_dim_date]    Script Date: 2026/05/13 23:08:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[sp_create_dim_date]

AS
BEGIN
drop table [computer_std].[dbo].[dim_date]
  create table [computer_std].[dbo].[dim_date](
  [Date_ID]INT IDENTITY(1,1) PRIMARY KEY,
  [Purchase_Date] [datetime2](7) NOT NULL,
  [Ship_Date] [nvarchar](50) NOT NULL,
  [Load_date] DATETIME DEFAULT GETDATE()
    )

  --insert data into table 
  insert into [computer_std].[dbo].[dim_date](Purchase_Date, Ship_Date)
  select distinct Purchase_Date, Ship_Date
  from [computer_std].[dbo].[pc_dataset_clean]
   
   --select all payment methods
   select* from [computer_std].[dbo].[dim_date]
 END;