USE [computer_std]
GO
/****** Object:  Table [dbo].[dim_channel]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_channel](
	[Channel_ID] [int] IDENTITY(1,1) NOT NULL,
	[Channel] [nvarchar](250) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Channel_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_customer]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_customer](
	[Customer_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_Name] [nvarchar](250) NOT NULL,
	[Customer_Surname] [nvarchar](250) NOT NULL,
	[Customer_Contact_Number] [nvarchar](250) NOT NULL,
	[Customer_Email_Address] [nvarchar](250) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Customer_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_date]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_date](
	[Date_ID] [int] IDENTITY(1,1) NOT NULL,
	[Purchase_Date] [datetime2](7) NOT NULL,
	[Ship_Date] [nvarchar](50) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Date_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_location]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_location](
	[Location_ID] [int] IDENTITY(1,1) NOT NULL,
	[Continent] [nvarchar](250) NOT NULL,
	[Country_or_State] [nvarchar](250) NOT NULL,
	[Province_or_City] [nvarchar](250) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Location_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_payment]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_payment](
	[Payment_ID] [int] IDENTITY(1,1) NOT NULL,
	[Payment_Method] [nvarchar](250) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_pc_spec]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_pc_spec](
	[Pc_Spec_ID] [int] IDENTITY(1,1) NOT NULL,
	[PC_Make] [nvarchar](50) NOT NULL,
	[PC_Model] [nvarchar](50) NOT NULL,
	[RAM] [nvarchar](50) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Pc_Spec_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_priority]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_priority](
	[Priority_ID] [int] IDENTITY(1,1) NOT NULL,
	[Priority] [nvarchar](250) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Priority_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_salesperson]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_salesperson](
	[SalesPerson_ID] [int] IDENTITY(1,1) NOT NULL,
	[Sales_Person_Name] [varchar](250) NULL,
	[Sales_Person_Department] [varchar](250) NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalesPerson_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_shop]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_shop](
	[Shop_ID] [int] IDENTITY(1,1) NOT NULL,
	[Shop_Name] [nvarchar](50) NOT NULL,
	[Shop_Age] [nvarchar](50) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Shop_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[dim_storage]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[dim_storage](
	[Storage_ID] [int] IDENTITY(1,1) NOT NULL,
	[Storage_Type] [nvarchar](50) NOT NULL,
	[Storage_Capacity] [nvarchar](50) NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Storage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders_fact]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders_fact](
	[Order_ID] [int] IDENTITY(1,1) NOT NULL,
	[Customer_ID] [int] NULL,
	[Location_ID] [int] NULL,
	[Date_ID] [int] NULL,
	[Shop_ID] [int] NULL,
	[SalesPerson_ID] [int] NULL,
	[Priority_ID] [int] NULL,
	[Pc_Spec_ID] [int] NULL,
	[Payment_ID] [int] NULL,
	[Channel_ID] [int] NULL,
	[Storage_ID] [int] NULL,
	[Cost_Price] [int] NOT NULL,
	[Sale_Price] [int] NOT NULL,
	[Discount_Amount] [int] NOT NULL,
	[Finance_Amount] [nvarchar](50) NOT NULL,
	[Cost_of_Repairs] [nvarchar](50) NOT NULL,
	[Total_Sales_per_Employee] [int] NOT NULL,
	[PC_Market_Price] [int] NOT NULL,
	[Credit_Score] [int] NOT NULL,
	[Load_date] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Order_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pc_dataset]    Script Date: 2026/05/05 15:46:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pc_dataset](
	[Continent] [nvarchar](50) NOT NULL,
	[Country_or_State] [nvarchar](50) NOT NULL,
	[Province_or_City] [nvarchar](100) NOT NULL,
	[Shop_Name] [nvarchar](50) NOT NULL,
	[Shop_Age] [nvarchar](50) NOT NULL,
	[PC_Make] [nvarchar](50) NOT NULL,
	[PC_Model] [nvarchar](50) NOT NULL,
	[Storage_Type] [nvarchar](50) NOT NULL,
	[Customer_Name] [nvarchar](50) NOT NULL,
	[Customer_Surname] [nvarchar](50) NOT NULL,
	[Customer_Contact_Number] [nvarchar](50) NOT NULL,
	[Customer_Email_Address] [nvarchar](50) NOT NULL,
	[Sales_Person_Name] [nvarchar](50) NOT NULL,
	[Sales_Person_Department] [nvarchar](50) NOT NULL,
	[Cost_Price] [int] NOT NULL,
	[Sale_Price] [int] NOT NULL,
	[Payment_Method] [nvarchar](50) NOT NULL,
	[Discount_Amount] [int] NOT NULL,
	[Purchase_Date] [datetime2](7) NOT NULL,
	[Ship_Date] [nvarchar](50) NOT NULL,
	[Finance_Amount] [nvarchar](50) NOT NULL,
	[RAM] [nvarchar](50) NOT NULL,
	[Credit_Score] [int] NOT NULL,
	[Channel] [nvarchar](50) NOT NULL,
	[Priority] [nvarchar](50) NOT NULL,
	[Cost_of_Repairs] [nvarchar](50) NOT NULL,
	[Total_Sales_per_Employee] [int] NOT NULL,
	[PC_Market_Price] [int] NOT NULL,
	[Storage_Capacity] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[dim_channel] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_customer] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_date] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_location] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_payment] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_pc_spec] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_priority] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_salesperson] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_shop] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[dim_storage] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[orders_fact] ADD  DEFAULT (getdate()) FOR [Load_date]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_Channel_ID] FOREIGN KEY([Channel_ID])
REFERENCES [dbo].[dim_channel] ([Channel_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_Channel_ID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_CustomerID] FOREIGN KEY([Customer_ID])
REFERENCES [dbo].[dim_customer] ([Customer_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_CustomerID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_Date_ID] FOREIGN KEY([Date_ID])
REFERENCES [dbo].[dim_date] ([Date_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_Date_ID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_Location_ID] FOREIGN KEY([Location_ID])
REFERENCES [dbo].[dim_location] ([Location_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_Location_ID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_Payment_ID] FOREIGN KEY([Payment_ID])
REFERENCES [dbo].[dim_payment] ([Payment_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_Payment_ID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_Pc_Spec_ID] FOREIGN KEY([Pc_Spec_ID])
REFERENCES [dbo].[dim_pc_spec] ([Pc_Spec_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_Pc_Spec_ID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_Priority_ID] FOREIGN KEY([Priority_ID])
REFERENCES [dbo].[dim_priority] ([Priority_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_Priority_ID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_SalesPerson_ID] FOREIGN KEY([SalesPerson_ID])
REFERENCES [dbo].[dim_salesperson] ([SalesPerson_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_SalesPerson_ID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_Shop_ID] FOREIGN KEY([Shop_ID])
REFERENCES [dbo].[dim_shop] ([Shop_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_Shop_ID]
GO
ALTER TABLE [dbo].[orders_fact]  WITH CHECK ADD  CONSTRAINT [fk_Storage_ID] FOREIGN KEY([Storage_ID])
REFERENCES [dbo].[dim_storage] ([Storage_ID])
GO
ALTER TABLE [dbo].[orders_fact] CHECK CONSTRAINT [fk_Storage_ID]
GO
